.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-product-1 {
  min-height: 375px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 431px;
  margin: 3px auto 0 1px;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 431px;
  height: auto;
  margin: -431px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 417px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: -417px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 257px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-top: -257px;
  }
}